/*
    Source for breakpoints based on screen size: https://www.w3schools.com/cssref/css3_pr_mediaquery.php
                                                 https://www.w3schools.com/howto/howto_css_media_query_breakpoints.asp
*/

section {
    margin: 0px;
    padding: 10px;
}

body {
    background-color: rgb(95, 95, 95);
}

/* Enlarges all buttons when pressed, pseudo-class selector */
button:active {
    transform: scale(1.1);
}

/* Header styling */
.hero-section {
    margin: 0;
    background-image: url(images/background-extra-small.jpg);
    background-size:cover;
    background-position: bottom right;
    box-shadow: 0px 2px 20px black;
    height: 15vh;
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    justify-content: start;
    /* Place the header above the features-section */
    z-index: 1;

    & #logo {
        display: flex;
        justify-content: start;
        align-items: center;
    }

    & #title {
        grid-column: 2 / 4;
        place-self: center;
    }

    h1 {
        /* Places the header in the center */
        color: whitesmoke;
        padding: 10px;
        margin-top: 40px;
        top: 0;
        left: 0;
        text-align: center;
        width: 100%;
        max-height: 100px;
    }

    svg {
        padding: 0;
        position: relative;
        height: auto;
        width: 10vw;
    }

}

/* Breakpoints to change background image based on screen size */
@media (min-width: 768px){
    .hero-section {
        background-image: url(images/background-small.jpg);
    }
}

@media (min-width: 1024px) {
    .hero-section {
        background-image: url(images/background-medium.jpg);
    }
}

@media (min-width: 1920px) {
    .hero-section {
        background-image: url(images/background-large.jpg);
    }
}

@media (min-width: 2560px) {
    .hero-section {
        background-image: url(images/background-extra-large.jpg);
    }
}

/* Styling for the featurs section (top 5 reasons to choose us & our products sections) */
.features-section {
    position: relative;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    

    background-color: rgb(175, 177, 175);
    background-image: url(images/flourish.png);
    /* Scale the background down so that it appears as a pattern */
    background-size: 10%;

    & .feature {
        margin: 20px auto;
        border-bottom: none;
        border: 2px solid black;
        border-radius: 30px;
        box-shadow: 10px 2px 10px grey;
        background-color: rgb(175, 177, 175);
        background-image: url(images/flourish.png);
        background-size: contain;
        background-position: bottom right;
    }

    /* Pseudo-class hover to enlarge feature upon hover */
    .feature:hover {
        transform: scale(1.05);
    }

    ol {
        list-style-type: lower-roman;
        list-style-position: inside;
    }

    ul {
        display: grid;
        grid-template-columns: 1fr;
        list-style-position: inside;
    }

    /* Create a grid with 6 columns */
    & .reasongrid {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        column-gap: 0px;

        & li{    
            background-color: whitesmoke;
            padding: 2px;
            padding-left: 10px;
            padding-right: 10px;
            border-radius: 5px;
            box-shadow: 2px 2px 2px gray;
        }

        & li:hover {
            background-color: lightblue;
        }
    }

    li {
        align-items: center;
    }

    .grid-item {
        margin: 5px;
    }

    /* Aligns first 4 items, with 2 items per row and each item taking 3 columns */
    .reasongrid span {
        grid-column: auto / span 3;
        place-self: center;
    }
    
    /* Centers the final item to take up the entire width of the grid (6 columns) */
    .reasongrid span:nth-child(5) {
        grid-column: 1 / span 6;
    }
}

/* Styling for the about us section */
.about-section {
    background-color: rgb(175, 177, 175);

    a {
        color:blue;
    }

    /* Pseudo-class hover to change link color upon hover */
    a:hover {
        color: rgb(115, 159, 216);
    }

    /* Company image inserted using the after psuedo-element */
    .final-line::after {
        content: url('images/image-small.png');
        display: block;
    }

    /* Breakpoints to adjust the shown image based on screen size */

    @media (min-width: 320px) and (max-width: 639px) {
        .final-line::after {
            content: url('images/image-medium.png'); 
        }
    }
    @media (min-width: 640px) and (max-width: 1279px) {
        .final-line::after {
            content: url('images/image-large.png'); 
        }
    }
    @media (min-width: 1280px) {
        .final-line::after {
            content: url('images/image-extra-large.png'); 
        }
    }
    
}

/* Footer styling */
.cta-section {
    background-color: rgb(54, 54, 54);
    box-shadow: 0px 2px 20px black;
}
