body {
    background-color: white;
}

h1 {
    color: whitesmoke;
    padding: 0;
    background-image: url(images/background-extra-small.jpg);
}

@media (min-width: 720px) {
    h1 {
        background-image: url(images/background-extra-large.jpg);
    }
}

@media (min-width: 540px) {
    h1 {
        background-image: url(images/background-large.jpg);
    }
}

@media (min-width: 288px) {
    h1 {
        background-image: url(images/background-medium.jpg);
    }
}

@media (min-width: 288px) and (max-height: 768px) {
    h1 {
        background-image: url(images/background-small.jpg);
    }
}

.hero-section{
    padding: 0;
}

.features-section {
    padding-left: 10%;
    padding-right: 10%;
    margin: 0;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;

    & .feature {
        margin: 20px auto;
    }

    & ol {
        list-style-type: lower-roman;
        list-style-position: inside;
    }

    & ul {
        display: grid;
        grid-template-columns: 1fr;
        list-style-position: inside;
    }

    & li {
        align-items: center;
    }
}
