/*
    Source for adjusting background based on screen size: https://www.w3schools.com/cssref/css3_pr_mediaquery.php
*/

header {
    padding-bottom: 0px;
}

section {
    background-color: rgba(20, 104, 42, 0.413);
    margin: 0px;
    padding: 10px;
}

h1 {
    color: whitesmoke;
    padding: 50px;
    background-image: url(images/background-extra-small.jpg);
    background-size: cover;
    background-position: left;
    margin: 0px;
    box-shadow: 0px 2px 40px black;
}

/* Changes the background image of h1 depending on the screen size */

@media (min-width: 2560px) {
    h1 {
        background-image: url(images/background-extra-large.jpg);
    }
}

@media (min-width: 1920px) {
    h1 {
        background-image: url(images/background-large.jpg);
    }
}

@media (min-width: 1024px) {
    h1 {
        background-image: url(images/background-medium.jpg);
    }
}

@media (min-width: 768px) {
    h1 {
        background-image: url(images/background-small.jpg);
    }
}

button:active {
    transform: scale(1.1);
}

.hero-section{
    padding: 0;
}

.features-section {
    padding-left: 10%;
    padding-right: 10%;
    margin: 0px;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;

    background-color: rgba(20, 104, 42, 0.413);
    background-image: url(images/flourish.png);
    background-size: 10%;

    & .feature {
        margin: 20px auto;
    }

    .feature:hover {
        transform: scale(1.05);
    }

    ol {
        list-style-type: lower-roman;
        list-style-position: inside;
    }

    ul {
        display: grid;
        grid-template-columns: 1fr;
        list-style-position: inside;
    }

    & .reasongrid {
        display: grid;
        grid-template-columns: repeat(6, auto);
        column-gap: 0px;
    }

    li {
        align-items: center;
    }

    .grid-item {
        place-self: center;
        margin: 5px;
    }

    .reasongrid span {
        grid-column: auto / span 3;
        place-self: center;
    }
    
    .reasongrid span:nth-child(5) {
        grid-column: 1 / span 6;
    }
}

.about-section {
    background-color: rgba(20, 104, 42, 0.413);

    a {
        color:blue;
    }

    a:hover {
        color: rgb(115, 159, 216);
    }

    .final-line::after {
        content: url('images/image-small.png');
        display: block;
    }
    
}

.cta-section {
    background-color: rgba(0, 0, 0, 0.726);
    box-shadow: 0px 2px 20px black;
}

/* Changes the image depending on the screen size */

@media (min-width: 320px) {
    .about-section .final-line::after {
        content: url('images/image-medium.png'); 
    }
}
@media (min-width: 640px) {
    .about-section .final-line::after {
        content: url('images/image-large.png'); 
    }
}
@media (min-width: 1280px) {
    .about-section .final-line::after {
        content: url('images/image-extra-large.png'); 
    }
}
